USE [master]
GO
/****** Nesnesi: Database [epostaodev] Betik Tarihi: 29.09.2026 18:31:54 ******/
CREATE DATABASE [epostaodev]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'epostaodev', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\epostaodev.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'epostaodev_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\epostaodev_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [epostaodev].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [epostaodev]
GO
/****** Nesnesi: Table [dbo].[Students] Betik Tarihi: 29.09.2026 18:31:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[SURNAME] [varchar](100) NOT NULL,
	[EMAİL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([ID], [NAME], [SURNAME], [EMAİL]) VALUES (10, N'hicran', N'köse', N'126')
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
USE [master]
GO
